#Git ignore files : non verion controlled files

*~

# Eclipse project folder
Eclipse/*
Eclipse


# MeanShift project folder
ImageProcessing/MeanShift/*~
ImageProcessing/MeanShift/Build/*
ImageProcessing/MeanShift/Build

# Threshold project folder
ImageProcessing/Thresholding/*~
ImageProcessing/Thresholding/Build/*
ImageProcessing/Thresholding/Build

# KMeans project folder
ImageProcessing/KMeans/*~
ImageProcessing/KMeans/Build/*
ImageProcessing/KMeans/Build

