#Git ignore files : non verion controlled files
*~
Doxyfile
BUILD/*
.DS_Store

# Eclipse project folder
Eclipse/*
Eclipse

#QT editor project files
CMakeLists.txt.user
build/*
qtcreator-build/*

ImageProcessing/.DS_Store
ImageSegmentation/.DS_Store

